<br></br>
<div class="jumbotron center">
  <h1>Home of the pinterested app</h1>
  <p>Cool!</p>

  <% if user_signed_in? %>
  	<%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
  	<%= link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-outline-secondary" %>
  	<%= link_to 'List Pins', pins_path, class: "btn btn-outline-secondary" %>
  <% else %>
  	<%= link_to 'Login', user_session_path, class: "btn btn-outline-primary" %>
  	<%= link_to 'Join', new_user_registration_path, class: "btn btn-primary" %>
  <% end %>
</div>
